.SignatureEditor {
    display: flex;
    flex-direction: column;
    align-items: flex-start; // Align items to the start of the flex container
    padding: 20px;
    background: var(--control-bg);
    border-radius: @border-radius;
    box-shadow: 0 2px 4px @shadow-color-light;
    margin-bottom: 20px; // Spacing from the next element
    max-width: 100%; // Prevents the editor from overflowing its container
  
    .TextEditor {
      width: 100%; // Ensure the editor takes the full width
      margin-bottom: 10px; // Spacing between editor and button
      border: 1px solid var(--control-bg);
      border-radius: @border-radius;

      &-controls {
        margin: unset;
      }
    }
  }
  
  // Responsive design adjustments for smaller screens
  @media @phone {
    .SignatureEditor {
      padding: 15px;
  
      .TextEditor-toolbar {
        padding: 0 4px; // Reduce padding on smaller screens
      }
  
      .Button {
        padding: 8px 16px; // Slightly reduce padding for the button
        width: 100%; // Full width on mobile for easier tap
      }
    }
  }
  